*.bat
*.sh
/*/
LICENSE.txt
CHANGELOG
UniversalElectricity

!/src/
/src/minecraft/*

!/src/minecraft/sbfp
!/src/minecraft/mods
src/minecraft/mods/sbfp/textures/*/*.db
!/resources/
!/modversion.txt
!/README.md
!/newt_*.xml