*.bat
*.sh
/*/
LICENSE.txt
CHANGELOG
UniversalElectricity

!/src/
/src/minecraft/*

!/src/minecraft/sbfp
!/src/minecraft/mods
src/minecraft/mods/sbfp/textures/blocks/*.db
src/minecraft/mods/sbfp/textures/items/*.db
src/minecraft/mods/sbfp/textures/gui/*.db
!/resources/
!/modversion.txt
!/README.md
!/newt_*.xml